
.info {
    background-color: greenyellow;
    color: green;
    border: 1px solid green;
    padding: 10px;
    font-size: 14px;
  }
  
  .error {
    background-color: lightcoral;
    color: rgb(180, 0, 0);
    border: 1px solid rgb(180, 0, 0);
    padding: 10px;
    font-size: 14px;
  }
  
  .warning {
    background-color: lightgoldenrodyellow;
    color: orange;
    border: 1px solid orange;
    padding: 10px;
    font-size: 14px;
  }
  
  .message {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 5px black;
  }

  
.status {
    width: 100px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.status.show {
    opacity: 1;
    visibility: visible;
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-out;
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}
