.file:nth-of-type(odd) {
    background-color: rgb(184, 228, 251);
}

.file:nth-of-type(even) {
    background-color: rgb(190, 218, 245);
}

.file:nth-of-type(n+2) {
    border-top-width: 0px;
}

.file {
    display: flex;
    align-items: flex-start;
    border: 1px black solid;
    padding-right: 10px;
}
/* 
.file a, .file span {
    line-height: 0;
    font-size: 0;
    color: transparent;
} */

.file-name {
    flex: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 10px;
}
/* 
.download-button {
    align-self: center;
    /* background-image: url('..\\download-32.png'); */
    /* background-size: 32px; */
    /* width: 32px; */
    /* height: 32px; */
    /* min-width:32px; */
/* } */
.download-button {
    align-self: center;
}

.download-button .svg-icon {
    width: 32px;
    height: 32px;
    fill: #0099CC;
}

.download-button .svg-icon path {
    fill:#0099cc;
}

.delete-button {
    align-self: center;
}
.delete-button .svg-icon {
    width: 32px;
    height: 32px;
}

.delete-button .svg-icon rect, 
.delete-button .svg-icon path,
.delete-button .svg-icon polygon {
    fill: #d3394c;
}