body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.file {
  display: flex;
  width:100%;
  align-items: flex-start;
  border: 1px black solid;
}

body .file:nth-of-type(odd) {
  background-color: rgb(184, 228, 251);
}
body .file:nth-of-type(even) {
  background-color:rgb(190, 218, 245);
}
body .file:nth-of-type(n+2) {
  border-top-width: 0px;
}

.file-name {
  flex:auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
}

.download-button {
  align-self:center;
  padding-right: 10px;
}

.info {
  background-color: greenyellow;
  color: green;
  border: 1px solid green;
  padding: 10px;
  font-size: 14px;
}

.error {
  background-color: lightcoral;
  color: rgb(180, 0, 0);
  border: 1px solid rgb(180, 0, 0);
  padding: 10px;
  font-size: 14px;
}

.warning {
  background-color: lightgoldenrodyellow;
  color: orange;
  border: 1px solid orange;
  padding: 10px;
  font-size: 14px;
}

.message {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 5px black;
}
