body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.file {
  background-color:red;
  display: flex;
  width:100%;
  align-items: flex-start;
  border: 1px black solid;
}

.file-container {
  background-color: yellow;
}

body .file:nth-of-type(n+2) {
  border-top-width: 0px;
}

.file-name {
  background-color: greenyellow;
  flex:auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.download-button {
  background-color: blue;
  align-self:center;
}
