body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.file {
  display: flex;
  width:100%;
  align-items: flex-start;
  border: 1px black solid;
}

body .file:nth-of-type(odd) {
  background-color: rgb(184, 228, 251);
}
body .file:nth-of-type(even) {
  background-color:rgb(190, 218, 245);
}
body .file:nth-of-type(n+2) {
  border-top-width: 0px;
}

.file-name {
  flex:auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
}

.download-button {
  align-self:center;
  padding-right: 10px;
}

.good {
  background-color: greenyellow;
  color: green;
  border: 1px solid green;
  padding: 10px;
  font-size: 14px;
  top:30px;
}
